<div class="authentication">

	<a href="//{{ domain }}" class="logo"><img src="{{ logoURL }}"></a>

	<form action='auth/reset-password/send' method='post' class='ajax'>
		<h1>Reset Password</h1>
		<label for="email">email</label>
		<input type="text" name="email" class="form-control" value="" placeholder="Email">
		<br />
		<button type="submit" value="Reset">Reset</button>
		<br />
		<a href="auth/login" class="ajax">Sign In</a>
		<br />
		<a href="auth/register" class="ajax">Register</a>
	</form>
</div>
