<div class="authentication">

	<a href="//{{ domain }}" class="logo"><img src="{{ logoURL }}"></a>

	<form action='auth/reset-password/{{ reset_key }}/save' method='post' class='ajax'>
		<h1>Your new password</h1>
		<label for="email">Email</label>
		<input type="text" name="email" class="form-control" value="" placeholder="Email">
		<br />
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" value="" placeholder="Password">
		<br />
		<label for="cpassword">Confirm Password</label>
		<input type="password" name="cpassword" class="form-control" value="" placeholder="Confirm Password">
		<br />
		<button type="submit" value="Change">Change</button>
	</form>
</div>
